h1 asdsasdfsdf

//- article(id="#{page.layout} - #{page.slug}", class="article article-type-#{page.layout}", itemscope, itemprop="blogPost")
//-   .article-meta
//-     time(datetime=date_xml(page.date), itemprop="datePublished")= date(page.date, date_format)
//- 
//-   .article-inner
//-     // include post/gallery
//-     if page.link || page.title
//-       header.article-header
//-         // include post/title
//-         h1= page.title
//-         != page.content
//-       
//-     
