.post-summary
	max-width 50%
	margin auto

	&__language
		margin 0 .5rem
		padding .5rem 1rem
		background-color white
		color currentcolor

		&:hover
			background-color yellow
			color currentcolor
